/* variables */
:root {
    --padding-right: 40px; 
    --padding-left: var(--padding-left); 
    --padding-top: 20px;
  }

body{
    margin-top: 0px;
    font-family:  Helvetica;
    padding-bottom: 5rem;
}

/* remove white space so background color of .header extends to edges */
.container-fluid{
    padding: 0px; 
    margin: 0px;
}

.header{
    padding-top: var(--padding-top);
    padding-bottom: 10px; 
    padding-left: var(--padding-right);
    padding-right: var(--padding-right);
    display: flex;
    width: 100%; 
    background-color: #011f38;
    color: #0d8bca
}

/* select h2 child element within .title class */
.title > h2{
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.logo { 
    margin-left: auto;
}

.logo > img{
    height: 80px;
    max-height: inherit;
}


.main_content{
    padding-left: var(--padding-right);
    padding-top: calc(var(--padding-right));
    padding-right: var(--padding-right);
    padding-bottom: 5rem;
}

form-group shiny-input-container:has(.checkbox) {
    width: 150px !important; 
} 

.dropdowns_all, .checkbox, .user-select-none svg-container{
    width: fit-content
}

.dropdowns_all {
    width: 600px;
}
.top_section{
    display: flex;
    flex-wrap: wrap;
}


.segments {
    padding-bottom: 30px;
}

/* segment title */
.seg_title > h3, .bench_title > h3{
    font-weight: 600;
    font-size: 16pt; 
} 

/* segments */
label[id^='seg']{
    text-decoration: underline;
}
/* Baseline and Benchmark brand titles */
label[id^='baseline'], label[id^='benchmark'] {
    font-weight: bold;
}


/*dropdown menu formatting for segments so that they are placed beside each other 
and have space between */
.dropdowns, .drops_benchmark {
    display: flex; 
    justify-content: flex-start;
    flex-wrap: wrap;  /* items go to next line if screen is too narrow */
}

.drops_benchmark, .segments {
    width: fit-content;
}

/* segment dropdown menus */
select[id='seg1_drop'] {
    min-width: 100px;
}

 


/* Vertically align target=BIC button  */
div.checkbox:has(input[id='set_target_bic']) {
    padding-top: 2rem;
}

/*Place table buttons horizontally beside each other and  */
.table_buttons {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Align items vertically */
    bottom: 0; /* Align children to the bottom */
}

.form-group.shiny-input-container {
    margin-right: 40px;  /* Adjust margin as needed */
}

/* Checkbox formatting  */
/* Change check box border and background colors in unchecked, checked, and focus mode */
.checkbox input , .checkbox input:checked, .checkbox input:focus {
    border: 2pt solid #011f38 !important; 
}


.checkbox input:checked {
    background-color: #9dd9ff !important;
}

/* Reset button formatting */ 
.btn-outline-default, .btn-default:not(.btn-primary,.btn-secondary,
.btn-info,.btn-success,.btn-danger,.btn-warning,.btn-light,.btn-dark,
.btn-link,[class*="btn-outline-"]) {
    --bs-btn-color: #011f38;
    --bs-btn-border-color: #011f38 ;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #011f38;    
    --bs-btn-hover-border-color: #011f38;
    --bs-btn-focus-shadow-rgb: 64,64,64;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #3DA8EB;
    --bs-btn-active-border-color: #011f38;
}
 


/* Table formatting */

/* header color */

/* remove bottom border from table*/
table { 
    border-bottom: none;
    border-spacing: 0; 
}

/* remove bottom border from last row */
table tr:last-child {
    border-bottom: none;
    border-left: none; 
    border-right: none;
}

table tfoot tr td {
    border-left: 2pt solid white;
    border-right: 2pt solid white; 
    width:100%;
}


/* add border on top of footnote  */
tfoot {
    border-top: 1pt solid black;
}


/* add background color to header */
thead > tr > th{
    background-color: #011f38 !important; 
    color: white;
}

/* hide the first column (which stores the KPI Variable names) */
th:nth-child(1),
tbody > tr  > td:nth-child(1) {
    display: none;
}


/* Diagnostic header (th) and rows (td)*/
th:nth-child(2),
td:nth-child(2) {
    max-width: 800px;
    text-align: left; 
}

/* Impact column width  */
th:nth-child(3),td:nth-child(3),
th:nth-child(7),td:nth-child(7), 
th:nth-child(8),td:nth-child(8)  {
    width: 80px; 
}

th:nth-child(5),td:nth-child(5) {
    width: 85px
}

/*add spacing to last column */
table th:nth-child(2), 
table td:nth-child(2) {
    padding-left: 10px;
}

/* Add 10px padding to the right of the last column */
table th:last-child, 
table td:last-child {
    padding-right: 10px;
    padding-left: 10px;  /* Adds space between BIC and KPI Index Impact */
}

/* Change cursor type when hovering overing Target column   */
input[id^="slider_"] {
    cursor: grab;
}


/* Show cell border when editable cells are hovered over */


td.editable:hover {
   padding: 0;
    outline: 2pt solid #011f38;/* Adjust border style as needed */
    outline-offset: -2px; /* Push the outline outside the element */
    border-radius: 5px; /* Adjust the radius as needed */
}


/* Impact column width  */
th:nth-child(4),
td:nth-child(4) {
    width: 100px; 
}

/* Impact column to Benchmark column */
th:nth-child(n+3):nth-child(-n+8),
td:nth-child(n+3):nth-child(-n+8) {
    text-align: center;
}



/* Best-in-Class (BIC) column */

th:nth-child(9),
td:nth-child(9) {
    padding-left: 20px;  /*  spacing between BIC performance and brand name(s) */
}

th:nth-child(10),
td:nth-child(10) {
    text-align: left; 
    max-width: 400px; 
    padding-left: 10px;  /*  spacing between BIC performance and brand name(s) */
}

/* KPI Index Impact */
th:nth-child(11),
td:nth-child(11) {
    text-align: center; 
    font-weight: bold;
}
/* shaded row coloring for every even-numbered row*/
tr:nth-child(even) {
    background-color: #e2f3ffa3; /* Replace with your desired background color */
}

/* row heights */
tr {
    box-sizing: border-box;
    line-height: 25px;
}

tfoot{
    font-size: 9pt;
}


/* highlight row whenever cursor hovers anywhere over it*/
.benchmark_table tr:hover {
    background-color: #f0f2f3;  /* Change the background color to your desired highlight color */
}

.benchmark_table thead th:empty {
    width: 50px; /* Adjust width as needed */
    text-align: center; 
  }

/* increase width of column containins BIC percentages*/


/* Sliders */
input{
    vertical-align: middle; 
}

input {
    accent-color: #0704a3
}



/* Hovering of definitions for Impact and Impact base
 Container for custom tooltip */
th[data-tooltip] {
    position: relative;
    cursor: pointer;
}

/* Tooltip styling */

th[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%; /* Position above the element */
    left: 50%;
    text-align: left;
    transform: translateX(-50%);
    background-color: #c7c7f8;
    color: #011f38;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px #c7c7f8;
    font-size: 12px;
    z-index: 10;
    white-space: normal; /* Allow text to wrap */
    width: 400px; /* Set a max width for the tooltip */
}

/* hide shiny client errors*/
shiny-error-console{
    display:none;
}
